VITE_SUPABASE_URL="https://mufrprdwzuzrwlhgdfmf.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11ZnJwcmR3enV6cndsaGdkZm1mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg2OTY1ODEsImV4cCI6MjA2NDI3MjU4MX0.vFfuNZ0XhDS-MfBW0LNrCv29Y1GJ0OTo5o6zdYJdT5U"